.makeStyles-content-9{
  flex-grow: 1;
  max-width: 100vw !important;
  width: 100% !important;
  background-color: #ececec !important;
  max-height: 100vh !important;
  height: 100vh !important;
}

.MuiAppBar-colorPrimary {
  background-color: #234531 !important;
  color: white !important;
}

.MuiTypography-h6 {
  color: white ;
}
